<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MailMyWork.io</title>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-95YQNPYWYM"></script>
  <script src="/javascripts/google_analytics.js"></script>
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Navbar -->
  <header>
    <nav class="navbar">
      <div class="logo">MailMyWork.io</div>
      <ul class="nav-links">
        <li><a href="/">Mail My Work</a></li>
        <li><a href="/share">Share Files</a></li>
        <li><a href="/large-file">Large Files</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <div class="menu-toggle" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </header>


  <div class="container">
    <h1 class="title">Instant Self Mail</h1>

    <!-- Email Input -->
    <input type="email" id="email" placeholder="Enter your email" class="email-input" />
    <input type="text" id="subject" placeholder="Enter Subject" class="subject-input" />

    <!-- Mode Toggle -->
    <div class="mode-toggle">
      <button id="textBtn" class="active"><i class="fa-regular fa-file-lines"></i> Text</button>
      <button id="fileBtn"><i class="fa-solid fa-arrow-up-from-bracket"></i> File</button>
    </div>

    <!-- Dynamic Content -->
    <div id="contentArea" class="content">
      <textarea placeholder="Type or paste your text here..." id="textArea"></textarea>
    </div>

    <div id="uploadList">

      <div class="file">
      </div>

    </div>

    <!-- Submit -->
    <button class="submit-btn" id="send-btn">Send to My Email</button>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="/javascripts/navbar.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>
