/* Share page specific styles (Base layout handled by main.css) */

.code {
  width: 50%;
  background: #001e34;
  padding: 15px 40px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 20px;
}

.share-btn {
  width: 100%;
  padding: 0.8rem;
  border-radius: 1px;
  border: none;
  background: #1c55d0;
  color: white;
  font-size: 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background 0.2s;
}

.share-btn:hover,
.received-container #submit-code-btn:hover {
  background: #0e42b2;
}

.received-container {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.received-container .code-input {
  width: 200px;
  height: 45px;
  background-color: #0f1a2b;
  color: #fff;
  font-size: 20px;
  text-align: center;
  /* Horizontally center text */
  vertical-align: middle;
  padding: 0 20px;
  margin: 10px auto 10px auto;
  border: none;
  outline: none;
}

.received-container #submit-code-btn {
  height: 40px;
  background: #1c55d0;
  border: none;
  outline: none;
  letter-spacing: 1px;
  font-size: 1rem;
  color: #fff;
  padding: 0.8rem;
  cursor: pointer;
  transition: background 0.2s;
  margin: 10px 0;
}

.received-container .received-textContent {
  height: 250px;
}

.received-container .received-file {
  width: 100%;
  background: #0f1824;
  border-radius: 1px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
  cursor: pointer;
}

.received-container .received-file .received-filename {
  max-width: 80%;
  overflow: hidden;
}

.received-container .received-file i {
  color: #192b43;
}